[submodule "/Volumes/The7Dwarfs/Apps/Dropbox/Documents/Privat/Hackintosh/2020/SnowWhite-EFI/bin/MountEFI"]
	path = /Volumes/The7Dwarfs/Apps/Dropbox/Documents/Privat/Hackintosh/2020/SnowWhite-EFI/bin/MountEFI
	url = https://github.com/corpnewt/MountEFI.git
